$gap: 16px;

.gallery-container {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.gallery {
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scrollbar-width: none;
	padding: $gap $gap * 4;
	gap: $gap;
}

.gallery::-webkit-scrollbar {
	display: none;
}

.gallery-item {
	flex: 0 0 auto;
	scroll-snap-align: start;
	overflow: hidden;
	display: inline-flex;
}

.gallery-item img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.nav-button {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
	padding: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

@media (min-width: 320px) {
	.gallery-item {
		width: calc(100% / 1 - $gap);
	}
}

@media (min-width: 576px) {
	.gallery-item {
		width: calc(100% / 2 - $gap);
	}
}

@media (min-width: 768px) {
	.gallery-item {
		width: calc(100% / 3 - $gap);
	}
}

@media (min-width: 992px) {
	.gallery-item {
		width: calc(100% / 4 - $gap);
	}
}

@media (min-width: 1200px) {
	.gallery-item {
		width: calc(100% / 5 - $gap);
	}
}

@media (min-width: 1400px) {
	.gallery-item {
		width: calc(100% / 6 - $gap);
	}
}
